@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,400;1,700&family=Playfair+Display:wght@600;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
main {
  max-width: 1440px;
  height: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
aside {
  width: 50%;
}
aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  width: 50%;
}
.logi_cabecera {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Playfair Display", serif;
}
.logi_cabecera-left {
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
}
.logi_cabecera-left img {
  width: 52.94px;
  height: 50px;
}
.logi_cabecera-left p {
  font-size: 30px;
}
.logi_cabecera-right {
  margin-right: 45px;
  margin-top: 40px;
  background-color: #d6ede8;
}
.logi_cabecera-font {
  width: 60px;
  height: 60px;
}
.logi_cabecera-font img {
  width: 32px;
  height: 32px;
  margin: 14px;
}
.contenedor {
  padding-left: 127px;
}
.title-su {
  padding-top: 210px;
  padding-bottom: 35px;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}
.title {
  padding-bottom: 46px;
  font-size: 60px;
  font-family: "Playfair Display", serif;
}
.title-su span {
  color: #aaa713;
}
.form_login-input {
  display: flex;
  flex-direction: column;
  padding-right: 186px;
  gap: 20px;
}
.form_login-input input {
  font-family: inherit;
  padding: 13px 20px;
  color: #2d3748;
  border: 2px solid #032d23;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.form_login-options {
  display: flex;
  justify-content: space-between;
  padding-right: 185px;
  padding-top: 15px;
  padding-bottom: 21px;
  color: #718883;
  font-family: "Inter", sans-serif;
}
.form_login-options a {
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  color: #718883;
}
.button {
  display: flex;
  font-family: "Inter", sans-serif;
}
.button button {
  width: 100%;
  padding: 15px 166px;
  margin-right: 185px;
  background-color: #032d23;
  color: #ffffff;
  font-size: 20px;
}
.form_login-instru {
  padding-top: 30px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.form_login-instru span {
  color: #aaa713;
}
footer {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
  padding-right: 50px;
  font-family: "Inter", sans-serif;
}
.footer-left span {
  color: #aaa713;
}
